<%- include("../partials/header") %>

 
    <header class="jumbotron">
        <div class="container">   <!-- added 2nd <div class="container"> to keep left spacing for the text within the jumbotron, when window is resized -->
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class= "btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
   
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <div class="col-md-12 col-md-offset-0 col-sm-offset-3 col-xs-offset-1">
            <h3>Our Most Popular Campgrounds!</h3>
        </div>

        <!-- loop through the campgrounds array and diplay the name and image -->
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">  
                    <div class=" imageGrid" style="background-image: url(<%= campground.image %>)">  
                        <!-- <img src="<%= campground.image %>">   -->
                        <div class="caption">
                            <div class="imageCaption">
                                <h4><%= campground.name %></h4>
                                <p>
                                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                                </p>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
 
<%- include("../partials/footer") %>